*{
    margin: 0;
padding: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    position: relative;
    background-color: black;
    display: block;
    height: 1080px;

}

.menu ul {
    display: inline-flex;
    margin: 50px;

}
.menu ul li{
   list-style: none;
   margin: 0 20px;
   color: #D0D0D0;
   cursor: pointer;
    
}

a{
    color: #D0D0D0;
    text-decoration: none;
}

.logo img{
width: 40px;
margin-top: -5px;
margin-right: 50px;

}

.active {
    color: yellow !important;
}

.more{
top: 40px;
right: 80px;
position: absolute;
text-decoration: none;
color: #D0D0D0;
border: 2px solid transparent;
border-radius: 20px;
background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, yellow, rgb(200, 100, 0));
background-origin: border-box;
background-clip: content-box, border-box;
}
.more span{
    display: block;
    padding: 8px 22px;

}

.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #D0D0D0;

}

.secondpage img{
width: 100%;
height: 100%;
object-fit: fill;
}

p.one {
    text-align: center;
    font-size: 16px;

 }

 .flex-container {
font-size: 20px;
display: flex;
margin-top: 350px;

 }

 .memories {
     float: left;
     white-space: nowrap;
 }

 .book {
    margin: 0 auto;
     text-align: center;
 }

 .family {
     float: right;
 }